{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="cars">
    {% if car_info.nuotrauka %}
        <img style="max-width: 30%; height: auto; margin-top: 50px" src="{{ car_info.nuotrauka.url }}">
    {% else %}
        <img style="max-width: 30%; height: auto; margin-top: 50px" src="{% static 'img/blank.png' %}">
    {% endif %}
    <p style="font-size: 40px; margin-top: 50px"> Užsakovas: {{ car_info.klientas }}</p>
    <p style="font-size: 40px">Automobilis: {{ car_info.automobilio_modelis_id }} - {{ car_info.valstybinis_nr }} - {{ car_info.VIN_kodas }}</p>
    <hr>
    <p>Informacija: {{ car_info.aprasymas | safe }}</p>
    <hr>
    <br>
    <p style="font-size: 30px">Šio automobilio užsakymai:</p>
    {% for i in paslauga %}
    <ul>
        <li style="margin-left: 20px">
            <span class="text-wrapper">
                <a href="{% url 'orders_detail' i.id %}" style="color: #008080;">
                    {{ i.data }} -
                    <h3 style="display: inline;">
                        Užsakymo statusas:
                    </h3>
                    <h3 style="display: inline;"
                    class="{% if i.status == 'i' %} text-success
                   {% elif i.status == 'a' %} text-danger
                   {% else %} text-warning {% endif %}">
                    {{ i.get_status_display }}
                    </h3>
                </a>
            </span>
        </li>
    </ul>
    {% endfor %}
</div>
{% endblock %}