{% extends "base.html" %}}
{% block content %}
<div class="cars">
    <h1>Automobiliai</h1>
    <p style="margin-top: 60px; margin-left: -20px">Automobilių sąrašas:</p>
    {% for i in automobiliai %}
    <ul>
        <li>
            <span class="text-wrapper">
                <a href="{% url 'car' i.id %}" style="color: #008080;">
                    {{ i.automobilio_modelis_id }} {{ i.valstybinis_nr }}
                </a>
            </span>
        </li>
    </ul>
    {% endfor %}
</div>
<div class="container puslapiai">
    <nav aria-label="..." >
        {% if automobiliai.has_other_pages %}
            <ul class="pagination">
                {% for i in automobiliai.paginator.page_range %}
                    {% if automobiliai.number == i %}
                        <li class="page-item active">
                            <a class="page-link"> {{ i }}</a>
                        </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ i }}" style="color:black">{{ i }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </nav>
</div>
{% endblock %}