{% extends "base.html" %}
{% block content %}
<div class="cars">
    <h1>Ultra servisas</h1>
    <br>
    <br>
    <br>
    <p style="margin-left: -20px">Sveiki atvykę!</p>
    <p style="margin-left: -20px">Šiuo metu turime:</p>
</div>
<ul>
    <li><span class="text-wrapper">Paslaugų kiekis: {{ num_paslaugos }}</span></li>
    <li><span class="text-wrapper">Įvykdyti užsakymai: {{ num_ivykdyti }}</span></li>
    <li><span class="text-wrapper">Automobilių kiekis: {{ num_automobiliai }}</span></li>
</ul>
<p>Čia jūs lankotės {{ num_visits }}-ą kartą</p>
{% endblock %}