{% extends "base.html" %}
{% block content %}
<div class="cars">
<h1>Užsakymai</h1>
<p style="margin-top: 60px; margin-left: -20px">Užsakymų sąrašas:</p>
{% if uzsakymas_list %}
<ul>
    {% for order in uzsakymas_list %}
    <li><span class="text-wrapper">
        <a href="{{ order.id }}" style="color: #008080;">{{ order.automobilis_id }}</a> {{ order.data }}
    </span></li>
    {% endfor %}
</ul>
{% else %}
    <p>Užsakymų nėra</p>
{% endif %}
</div>
<div class="container puslapiai">
    <nav aria-label="...">
        {% if page_obj.has_other_pages %}
            <ul class="pagination">
                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active">
                            <a class="page-link"> {{ i }}</a>
                        </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </nav>
</div>
{% endblock %}