{% extends "base.html" %}
{% block content %}

{% if form.errors %}
    <p>Prisijungimo klaida, bandykite dar kartą!</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p>Neturite prieigos prie šios informacijos. Turite prisijungti!</p>
    {% endif %}
{% endif %}

{% load widget_tweaks %}
<div class="login">
  <div class="heading">
    <h2>Sign in</h2>
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
      <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
          {% render_field form.username placeholder=form.username.label class+="form-control"  %}
      </div>

        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            {% render_field form.password placeholder=form.password.label class+="form-control"  %}
        </div>

        <button type="submit" class="float"
                style="margin-top: 20px;
                        background: #008080;
                        border: none;
                        font-size: 1.6em;
                        font-weight: 300;
                        padding: 5px 0;
                        width: 100%;
                        border-radius: 3px;">
                Login
        </button>
        <input type="hidden" name="next" value="{{ next }}">
        <p>
            <a href="{% url 'password_reset' %}">Pamiršote slaptažodį?</a>
        </p>
       </form>
    </div>
 </div>
{% endblock %}