ul { color: #FF2E65; }

li::marker {
    font-size: 2rem;
    font-weight: bolder;
}

.text-wrapper {
    color: black;
    font-size: 26px;
    }

.col-sm-10
    h1 {
    color: #d54d7b;
    font-family: "Great Vibes", cursive;
    font-size: 165px;
    line-height: 160px;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 40px;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
    }

    p {
    color: #333333;
    font-family: Georgia, serif;
    font-size: 40px;
    line-height: 28px;
    margin: 0 0 28px 20px;
    }

.sidebar-nav {
    display: flex;
    margin-top: 15px;
    padding: 0;
    list-style: none;
}

a {
  background-color: red;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  background-color: #FFBFB6;
}

a:active {
  background-color: black;
}

a:hover {
  cursor: pointer;
}